{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["ie >= 11"]
        },
        "exclude": ["transform-async-to-generator", "transform-regenerator"],
        "modules": false,
        "loose": true
      }
    ],
    "react"
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
